.before-sub-title::before{
    content: '';
    width: 15px;
    height: 80px;
    background-color: #EFC81A;
    display: block;
    position: absolute;
    top: -50px;
    transform: translateY(35%);
}

.yellow-big-square::after{
    content: '';
    width: 400px;
    height: 800px;
    z-index: -5;
    display: block;
    background-color: #EFC81A;
    position: absolute;
    top: -170px;
    right: -60px;
}

.square-border::after{
    content: '';
    display: block;
    position: absolute;
    border: 2px solid #EFC81A;
    width: 500px;
    height: 500px;
    right: -20px;
    top: 80px;
    border-radius: 10px;
    z-index: -1;
}

.square-block::after{
    content: '';
    display: block;
    position: absolute;
    background-color: #EFC81A;
    width: 300px;
    height: 500px;
    left: -62px;
    top: -30px;
    z-index: -1;
}


@media (max-width: 1200px) {
    .square-border::after{height: 400px; width: 400px;}
    .square-block::after{height: 430px;}
}

@media (max-width: 992px) {
    .yellow-big-square::after{height: 650px; width: 300px;}
    .square-border::after{height: 300px; width: 300px;}
    .square-block::after{height: 300px; width: 230px;}
    .obstacle1{display: none;}
    .obstacle2{display: none;}
}

@media (max-width: 768px) {
    .yellow-big-square::after{display: none;}
    .square-border::after{display: none;}
    .square-block::after{display: none;}
    .bullets-wrapper .bullets{display: none;}
}